[submodule "packages/contract/vault/lib/forge-std"]
	path = packages/contract/vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contract/ai-vault/lib/openzeppelin-contracts"]
	path = packages/contract/ai-vault/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
